<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"/>
    <title class="editpasswordBody">Edit Password</title>
</head>
<body class="editpasswordBody">  
    <h1>Edit Password</h1>
    <h2>Users from database:</h1>
    <ul>
        {{#each users}}
            <li><b>ID:</b> {{this.id}} <b>Username:</b> {{this.user_name}}<b> Email:</b> {{this.email}}  </li>
        {{/each}}
    </ul>
        <form action="/editpassword" method="POST" autocomplete="off">
        <label for="id">ID</label>
        <input class="editpasswordinput" type="text" name="id" placeholder="Id"/><br>
        <label for="new_password">New Password</label>
        <input type="password" name="new_password" id="new_password" placeholder="New Password"/><br>
        <label for="pass_word">Current Password</label>
        <input type="password" name="pass_word" id="pass_word" placeholder="Current Password"/><br>
        <label for="confirm_password">Confirm Current Password</label>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Current Password"/><br>
        <button class="editpasswordBtn" type="submit">Edit User Password</button>
    </form>
<h1>{{message}}</h1>
 <form action="">
    <input class="homebutton2" type="button" value="Edit Page" onclick="document.location='http://localhost:3006/edit'">
    <input class="homebutton2" type="button" value="Home Page" onclick="document.location='http://localhost:3006'">
</form>